*{
  box-sizing: border-box;
}

body{
  background-color: rgb(250, 216, 166);
  
}
#bigcontain{
  display: none;
  margin-top: 30px;
}


header{
  position: absolute;
  left : 50%;
  top: 50%;
  transform : translate(-50%, -50%)

}

#btns {
    text-align: center;
}

#btns button {
  text-shadow: 4px 4px 2px rgba(129,48,28,0.6);
}




body{
  padding: 0;
  margin: 0;
  
}
h1{
  text-align: center;
  font-family: 'Codystar', cursive;
  letter-spacing: 5px;
}

h2{
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 7px;
  font-size: 30px;
  color: rgb(65, 58, 58);
}

#container{
  margin-left: 10%;
  margin-right: 10%;
  height: 550px;
}

#questions-content {
  background-image: url(champagne-cork-1350404_960_720.webp);
  background-position: center;
  background-size: cover;
  height: 390px;
  position: relative;
  border-radius: 22px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
  animation-duration: 1s;
  animation-name: glissement;
  animation-iteration-count:initial;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  
 
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 350px;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#questions{
  position: absolute;
  color: black;
  text-align: center;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background-color: rgb(255,255,255,0.7);
  border-bottom: 2px solid chocolate;
  padding: 15px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 7px;
  width: 550px;
  font-weight: bolder;
  border-radius: 22px;
  animation-duration: 3s;
  animation-name: glissement;
  animation-iteration-count:initial;
  
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 200px;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


 #answercontent {
   padding: 50px;
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   
 }
 i{
   font-size: 20px;
 }
 button {

   width: 200px; 
   padding: 15px;
   border: none;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
   border-radius: 22px;
   border-bottom: 2px solid chocolate;
   background-color:cornsilk;
   font-family: 'Texturina', serif;
   font-weight: 680;
   
  
 }

 

 button:hover {
   background-color:rgb(182, 126, 86);
   transition: 2s;
   border-bottom: 1px solid whitesmoke;
   
 }


#index{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 737,63px;
  height: 30px;
}

#index p {
  padding-top: 20px;
}


#score{
  margin-left: 10%;
  
}


#info{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#info i {
  margin-right: 8px;
  margin-left: -8%;
  color: chocolate;
}


#info i, span{
  margin-top : 8%;
  
}


#questionNum{
  font-family: 'Texturina', serif;
  letter-spacing: 8px;
  font-weight: bold;
}





@media screen and (max-width: 850px) {
      #questions-content {
        height: 290px;
      }

      
     

      #questions-content p {
        width: 250px;
        font-size: 20px;
      }

      .btn{
        
        margin-left: 20px;
        width: 130px;
        
      }

      #container {
        margin-left: 0;
        margin-right: 0;
      }

      #questionNum{
        font-weight: 500;
        letter-spacing: 4px;
        font-size: smaller;
        
      }

      .btn p {
        font-size: 10px;
      }

      
}


